body {
    background-color: rgb(48, 49, 54);
}
h1 {
    margin-bottom: 70px;
    color: white;
    text-align: center;
    font-size: 56px;
    font-family: "Segoe UI Black";
}
a {
    font-family: "Calibri Light";
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 30px;
}
/*
.button {
    margin-top: 30px;
    background-color: #748bd7;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-size: 36px;
    cursor: pointer;
    border-radius: 12px;
    font-family: "Calibri Light";
}
.input {
    font-size: 40px;
    color: white;
    background-color: #1616161f;
    font-family: "Calibri Light";
    border-radius: 12px;
    border-color: #748bd7;
}
.form {
}

\*